.nav {
	padding: 1rem;
	display: flex;
	align-items: center;
	& .brand {
		& img {
			max-height: 50px;
		}
	}
	& .right {
		margin-left: auto;
		color: #1db954;
		display: flex;
		flex-direction: row;
		& > .navItem {
			margin-right: 2rem;
		}
	}

	& a {
		text-decoration: none;
		color: #1db954;
		transition: all 0.3s;
		&:hover {
			color: #1d8954;
		}
	}
}
