@use "../util/styles/vars/colours" as *;
@use "../util/styles/vars/breakpoints" as *;
@use "../util/styles/vars/animations" as *;

.home {
	width: 100vw;
	padding: 1rem 2rem;
}

.top {
	width: 100%;
	height: calc(100vh - 3rem);
	display: flex;
	justify-content: space-between;
}

.brand {
	& > img {
		width: 60px;
	}
}

.nav {
	font-size: 1.5rem;
}

.navItem {
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: 2px solid transparent;
	color: $green;
	transition: all 0.2s;

	&:hover {
		border-bottom: 2px solid $green;
	}
}

.header {
	position: relative;
}

.hero {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 700px;
	transform: translate(-50%, -50%);
	text-align: center;
	& > h1 {
		font-size: 3rem;
	}
	& span {
		color: $green;
	}

	@media screen and (max-width: $md) {
		& > h1 {
			font-size: 2rem;
		}
	}
}

.goDown {
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3rem;
	color: $green;
	cursor: pointer;

	&:hover {
		& svg {
			animation: bounce linear 0.33s 2 forwards;
		}
	}
}

.ScrollItem {
	display: flex;
	align-items: center;
	font-size: 200%;
	width: 100%;
	padding: 1rem;
	background: $green;
	color: black;
	transition: transform 0.1s;
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	border-radius: 2rem;

	&_icon {
		margin-right: 3rem;
		font-size: 6rem;
	}

	&_text {
		text-transform: uppercase;
		font-weight: bold;
		& > p {
			margin: 0;
		}
	}
}

.lowerSection,
.lowerSectionAlternate {
	--opacity: 0;
	width: 75vw;
	min-height: 75vh;
	margin: 0 auto 5rem auto;
	opacity: var(--opacity);
	transition: opacity 1s;

	& > .sectionTitle {
		text-align: center;
		font-size: 2.5rem;
		letter-spacing: 2px;
		text-transform: uppercase;

		&::after {
			content: " ";
			height: 5px;
			background: $green;
			display: block;
			width: 33%;
			margin: 0.5rem auto 5rem auto;
		}
	}

	&.fullWidth {
		position: relative;
		width: 100vw;
		& .accent {
			position: absolute;
			top: 0;
			z-index: 20;
			$h: 50px;
			height: $h;
			background: rgba($green, 0.5);
			transition: all 1s;
			&:first-of-type {
				right: 0;
				width: 35vw;
				background: rgba($darkGreen, 0.5);
				transform: translateY(-($h / 2));
			}
			&:nth-of-type(2) {
				top: 25px;
				right: calc(var(--move) * calc(35vw * 0.6));
				width: 25vw;
				transform: translateY(-($h / 1.5));
			}
			&:nth-of-type(3) {
				top: calc(100%);
				left: 0;
				width: 30vw;
				background: rgba($darkGreen, 0.5);
				transform: translateY(-($h / 2));
			}
			&:nth-of-type(4) {
				top: calc(100% - 25px);
				left: calc(var(--move) * calc(30vw * 0.666));
				width: 45vw;
				transform: translateY(-($h / 4));
			}
		}
	}
}

.skew {
	height: 50vh;
	background: $lightBackground;
	transform: skewY(-6deg);
	color: $darkBackground;
	/* antialiasing */
	outline: 1px solid transparent;
	-webkit-backface-visibility: hidden;
	will-change: transform;
	-webkit-perspective: 1000;

	& .textContainer {
		will-change: transform;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-size: 4rem;
		text-transform: uppercase;
		letter-spacing: 4px;
		word-spacing: 4px;
	}
}
