@use "../util/styles/vars/colours" as *;
@use "../util/styles/vars/breakpoints" as *;

.home {
	padding: 1rem;
}

.top {
	width: calc(100vw - 3rem);
	height: calc(100vh - 3rem);
	display: flex;
	justify-content: space-between;
}

.brand {
	& > img {
		width: 60px;
	}
}

.nav {
	font-size: 1.5rem;
}

.navItem {
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: 2px solid transparent;
	color: $green;
	transition: all 0.2s;

	&:hover {
		border-bottom: 2px solid $green;
	}
}

.header {
	position: relative;
}

.hero {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 700px;
	transform: translate(-50%, -50%);
	text-align: center;
	& > h1 {
		font-size: 3rem;
	}
	& span {
		color: $green;
	}

	@media screen and (max-width: $md) {
		& > h1 {
			font-size: 2rem;
		}
	}
}

.goDown {
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3rem;
	color: $green;
	cursor: pointer;

	&:hover {
		& svg {
			animation: bounce 0.25s;
		}
	}
}

@keyframes bounce {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

.ScrollItem {
	display: flex;
	align-items: center;
	font-size: 200%;
	width: 100%;
	padding: 1rem;
	background: $green;
	color: black;
	transition: transform 0.1s;
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	border-radius: 2rem;

	&_icon {
		margin-right: 3rem;
		font-size: 6rem;
	}

	&_text {
		text-transform: uppercase;
		font-weight: bold;
		& > p {
			margin: 0;
		}
	}
}

.lowerSection {
	--opacity: 0;
	width: 75vw;
	min-height: 75vh;
	margin: 0 auto 5rem auto;
	opacity: var(--opacity);
	transition: opacity 1s;

	& > .sectionTitle {
		text-align: center;
		font-size: 2.5rem;
		letter-spacing: 2px;
		text-transform: uppercase;

		&::after {
			content: " ";
			height: 5px;
			background: $green;
			display: block;
			width: 33%;
			margin: 0.5rem auto 5rem auto;
		}
	}
}
