@use "../util/styles/vars/colours" as *;
@use "../util/styles/vars/sizes" as *;
@use "../util/styles/vars/durations" as *;

#open {
	width: calc($sidebar * 2.5) !important;
	& .top,
	.bottom {
		align-items: flex-start;
	}
}

.nav {
	z-index: 20;
	width: $sidebar;
	background: $darkBlack;
	position: fixed;
	height: 100%;
	display: flex;
	flex-direction: column;
	transition: width $sidebarSlide;
	// transition: width 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	& .top {
		color: red;
		& .brand {
			width: 100%;
			margin-bottom: 3rem;
			& > * {
				display: flex;
				justify-content: center;
			}
			& img {
				width: 4em;
			}
		}
	}
	& .bottom {
		margin-top: auto;
	}
	& > * {
		margin: 1em 0;
	}
}
